@use "../../../Constants.scss" as *;

.container {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
  color: white;
  background-color: $BG_COLOR;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.25s;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
    margin: 10px;

    .information {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      .title {
        width: 100%;
        margin: 0;
      }
      .version {
        width: 100%;
        font-size: 0.8rem;
        margin: 0;
        color: rgba(255, 255, 255, 0.75);
      }
      .description {
        margin: 0;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    .controller {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      user-select: auto;
      button {
        @include button($BG_COLOR, white, gray);
      }
    }
  }
}

.mods {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  .mod {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h2 {
      max-width: 80%;
      font-size: 0.9rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .modSwitch {
      @include ToggleSwitch;
    }

    .buttons {
      display: flex;
      width: 20%;
      align-items: center;
      justify-content: space-between;
      button {
        p {
          @include material-icons;
          margin: 0;
          padding: 0;
          font-size: 1.5rem;
          color: white;
          transition: 0.25s;
          &:hover {
            color: $BG_COLOR_DARK;
          }
        }
        background-color: transparent;
        border: none;
      }
    }
  }
  .addModButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    button {
      h2{
        font-size: 0.9rem;
      }
      p {
        @include material-icons;
        margin: 0;
        font-size: 2rem;
        color: white;
        transition: 0.25s;
        &:hover {
          color: $BG_COLOR_DARK;
        }
      }
      background-color: transparent;
      border: none;
    }
  }
}
