$FrameHeight: 22px;
$DefaultFont:"Koruri Bold";
$DefaultFontURL: "../fonts/Koruri-Bold.ttf";

$BG_COLOR: #0012423d;
$BG_COLOR_HOVER: rgba(0, 18, 66, 0.32);
$BASE_COLOR: rgb(21, 26, 54);
$SUB_COLOR:#63b3ed;
$SUB_COLOR_HOVER: #589dce;