@use "./Constants.scss" as *;

@font-face {
  font-family: $DefaultFont;
  src: url($DefaultFontURL);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons.woff2) format("woff2");
}

body,
html {
  font-family: $DefaultFont;
  margin: 0;
  padding: 0;
  overflow: hidden;
  #wrapper {
    overflow: hidden;

    #app {
      user-select: none;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $BG_COLOR;
  border-radius: 5px;
}

.material-icons {
  @include material-icons;
}
