@use "../../Constants.scss" as *;

.container {
  color: $BG_COLOR;
  text-align: center;
  .accounts {
    display: inline-block;
    height: 80%;
    width: 70%;
    overflow-y: scroll;
    .account {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 10px;

      background-color: $BG_COLOR;
      border-radius: 5px;
      img {
        border-radius: 5px;
        margin: 10px;
      }
      .control {
        margin: 10px;
        button {
          margin: 5px;
          @include button($BG_COLOR, white, gray)
        }
      }
      .info {
        display: flex;
        align-items: center;
        margin: 10px;
        color: white;
        text-align: left;
        p {
          color: $BG_COLOR;
          font-size: 0.9rem;
          margin: 0;
        }
        h1 {
          font-size: 1.5rem;
          margin: 0;
        }
        h2 {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
